body html {
    padding: 0;
    margin: 0;
}

html {
    background-color: lightsteelblue !important;
}

h1 {
    text-align: center;
    margin: 0;
}

h2 {
    display: inline;

}

.start-btn {
    background-color: #e7e7e7;
    color: deepskyblue;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.start-btn:focus {
    outline:0;

}

.start-btn:hover {
    background-color: darkgray;
}

.playAgain-btn {
    background-color: #e7e7e7;
    color: deepskyblue;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
}

.playAgain-btn:focus {
    outline:0;

}

.playAgain-btn:hover {
    background-color: darkgray;
}

#gameOver {
    display: flex;
    flex-direction: column;
    width: 1024px;
    height: 576px;
    border: 1px solid #000000;
    background-color: #4E9CEA;

    position: absolute;
    width: 1024px;
    height: 576px;
    border: 1px solid #000000;
    top: 80px;
    left: 150px;

    visibility: hidden;
}

#gameOver {
    position: absolute;

    top: 300px;
    left: 855px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    visibility: hidden;
}
h3 {
    display: inline;
}

.game-window {
    width: 1024px;
    height: 576px;
    border: 1px solid #000000;
    top: 80px;
    left: 150px;
    display: block;
}

.player-list {
    list-style: none;
    position: fixed;
    left: -25px;
    height: 50px;
    width: 12%;
}

.player-list li {
    margin-bottom: 10px;
    font-size: 25px;
    padding-left: 3px;
    border: black 1px solid;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Information */
.information {
    width: 18%;
    height: 50%;
    background: white;
    position: fixed;
    right: 0.5%;
    border: black 1px solid;
}

/* Chat */
.chat-box {
    width: 18%;
    height: 35%;
    background: white;
    position: fixed;
    right: 0.5%;
    bottom: 0.5%;
    margin: 0;
    padding: 0;
    border: black 1px solid;
}

.chat-box h1 {
    font-size: 24px;
    margin: 0;
}

.chat-input {
    position: absolute;
    bottom: 0;
}

.messages {
    list-style-type: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80%;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    margin: 0;
}