body html {
    padding: 0;
    margin: 0;
}

html {
    background-color: lightsteelblue !important;
}

h1 {
    text-align: center;
}

.game-window {
    width: 1024px;
    height: 576px;
    border: 1px solid #000000;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.player-list {
    list-style: none;
    position: fixed;
    left: -25px;
    height: 50px;
}

.player-list li {
    margin-bottom: 10px;
    font-size: 25px;
    padding-left: 3px;
    border: black 1px solid;
}

/* Information */
.information {
    width: 18%;
    height: 50%;
    background: white;
    position: fixed;
    right: 0.5%;
    border: black 1px solid;
}

/* Chat */
.chat-box {
    width: 18%;
    height: 35%;
    background: white;
    position: fixed;
    right: 0.5%;
    bottom: 0.5%;
    margin: 0;
    padding: 0;
    border: black 1px solid;
}

.chat-box h1 {
    font-size: 24px;
    margin: 0;
}

.chat-input {
    position: absolute;
    bottom: 0;
}

.messages {
    list-style-type: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80%;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    margin: 0;
}