@charset "utf-8";
/* CSS Document */

/*==============================================================
01 COLORS & OPACITY
02 BASIC SETUP
03 LOGIN/REGISTER
04 NAVIGATION
05 SOCIAL
06 DEFAULT CONTENT
07 HOME
08 PROFILE
09 RANK
10 STORE
11 LATTICE
12 CREATE ROOM
13 ROOM LIST
99 add more..
-- enforce the 4 line gap between each section --
-- enforce CSS header styling                  --
==============================================================*/




/* ===== 01 COLORS & OPACITY ===== */
:root {
    --content0: #FFFFFF;    /*Primary: Default text/icon color*/
    --content1: #65ACEE;    /*Secondary: Sub-menus, social buttons, status*/

    --bg0: #1F2B4D;         /*Default background*/
    --bg1: #04315A;         /*Navbar and shop/all other buttons*/
    --bg2: #224B71;         /*Social bar*/

    --ok: #6EC927;          /*Available, Good, Ok, Proceed, Healthy*/
    --oklt: #C5FF97;        /*light version, for glow effects*/
    --focus: #5127C9;       /*Focused, Do Not Disturb, Muted, Silenced*/
    --focuslt: #9997FF;     /*light version, for glow effects*/
    --urgent: #C31616;      /*Urgency, Busy, Attention*/
    --urgentlt: #FF6969;    /*light version, for glow effects*/
    --warn: #C99227;        /*Caution, Processing, Maintenance, In-Progress*/
    --warnlt: #FFC187;      /*light version, for glow effects*/

    --op6: 60%;                /*Opacity: inactive for primary elements*/
    --op3: 30%;                /*Opacity: inactive for secondary elements*/
}




/* ===== 02 BASIC SETUP ===== */
* {
    font-family: 'Raleway', 'Arial', 'San-Serif';
    text-decoration: none;

    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    list-style: none;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}
*::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 18px;
    font-weight: 500;
    color: var(--content0);
    text-decoration: none;
    text-rendering: optimizeLegibility;
    text-align: left;

    background: var(--bg0);
    height: 100vh;
}

body {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    width:100%;
    height: 100%;
}

.hidden {
    display: none;
}

/* --- 2.1 headers --- */
h1, h2, h3, h4 { font-weight: 700; text-transform: uppercase; }
h1 { font-size: 36px; }
h2 { font-size: 72px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }

/* --- 2.2 buttons --- */
a:visited, a:link { color: var(--content0); text-decoration: none; }
.btn00:hover, .btn01:hover { border: solid 2px var(--content0); }
.btn00, .btn01, .btn02 {
    background-color: var(--bg1);
    color: var(--content0);
    border: solid 2px var(--bg1);
    display: block;

    margin: auto;
    padding: 5px 10px;
    cursor: pointer;
    width: fit-content;
    text-align: center;
}
.btn01 {
    background-color: var(--content1);
    border: 0px;
    border-radius: 999px;
    padding: 5px;
}
.btn02 {
    background-color: var(--bg2);
    border: 0px;
    margin: 0 5px;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 600;
}




/* ===== 03 LOGIN/REGISTER ===== */
.right-bg {
    position: fixed;
    z-index: 0;
    width: 50%;
    left: 50%;
    bottom: 0;
    right: 0;
    top: 0;
    background: var(--bg2);
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.15);
}

.entry-page-content {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.entry-page-content-left {
    position: fixed;
    width: 50%;
    left: 0;
    bottom: 0;
    right: 50%;
    top: 0;
}

.entry-page-content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 50%;
    left: 50%;
    bottom: 0;
    right: 0;
    top: 0;
}

.entry-switcher {
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 125px;
    position: relative;
    background-color: var(--bg1);
    border-radius: 150px;
}

.toggle {
    cursor: pointer;
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-size: 18px;
    font-weight: 300;
    color: var(--content0);
}

#entry-switcher-button {
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--content1);
    border-radius: 150px;
    transition: .6s;
}

.entry-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#signin-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 70%;
    margin: 0 15%;
}

#signin-form label {
    font-size: 24px;
    font-weight: 600;
    color: var(--content0);
}

.signin-field {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    margin: 15px 0 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.51);
}

.signin-field, textarea {
    background-color: transparent;
}

.signin-field, signin-field::placeholder {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: var(--content0);
    line-height: 3;
}

.signin-field::placeholder {
    color: var(--content0);
    opacity: 50%;
}

.remember-pw-container {
    font-size: 18px;
    color: var(--content0);
    padding-bottom: 30px;
}

#signin-form .remember-pw-container label, a{
    font-size: 18px;
    color: var(--content0);
}

.signin-forgot-password {
    font-size: 18px;
    color: var(--content0);
    padding-bottom: 30px;
}

.signin-submit {
    height: 30px;
    padding: 0 15px;
    border-radius: 150px;
    border-style: none;
    outline: none;
    cursor: pointer;
    color: var(--content0);
    font-size: 18px;
    font-weight: 300;
    background-color: var(--content1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#signup-form {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin: 0 15%;
}

#signup-form label {
    font-size: 24px;
    font-weight: 600;
    color: var(--content0);
}

.signup-field {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    margin: 15px 0 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.51);
}

.signup-field, textarea {
    background-color: transparent;
}

.signup-field, signup-field::placeholder {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: var(--content0);
    line-height: 3;
}

.signup-field::placeholder {
    color: var(--content0);
    opacity: 50%;
}

.signup-agreement-container {
    font-size: 18px;
    color: var(--content0);
    padding-bottom: 30px;
}

#signup-form .signup-agreement-container label, a{
    font-size: 18px;
    color: var(--content0);
}

.signup-submit {
    height: 30px;
    padding: 0 15px;
    border-radius: 150px;
    border-style: none;
    outline: none;
    cursor: pointer;
    color: var(--content0);
    font-size: 18px;
    font-weight: 300;
    background-color: var(--content1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#signin-form {
    left: 0;
}

#signup-form {
    left: 100%;
}



/* ===== 04 NAVIGATION ===== */
nav, .submenu {
    grid-column: 1 / 11;

    display: flex;
    flex-direction: row;
    align-items: center;
}
nav > a, .submenu > a {
    cursor: pointer;
    padding: 10px 35px;
    height: 100%;
}
/* --- 4.1 main navbar --- */
nav {
    background-color: var(--bg1);
    height: 100px;
}
nav > a {
    display: flex;
    align-items: center;
    opacity: var(--op6);
    padding: 0 35px;
}

nav > a:hover, nav > a:first-of-type {
    opacity: 100%;
}

.current {
    background: rgba(0, 0, 0, 0.15);
    opacity: 100%;
}

.currency {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 60px 15px auto;
    align-items: center;
    text-align: center;
    border-left: 1px solid rgba(136, 151, 205, 0.4);;
    padding: 0 15px;
}

.currency i {
    padding-right: 10px;
}

.cash {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.coins {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

/* --- 4.2 submenu navbar --- */
.submenu {
    grid-column: 1 / -1;
    color: var(--content1);
}
.submenu > h3 {
    width: fit-content;
    font-weight: 500;
    border-bottom: 2px solid var(--content1);
    cursor: pointer;
    margin: auto;
}
.submenu > h3:hover {
    font-weight: 700;
    border-bottom: 5px solid var(--content1);
}




/* ===== 05 SOCIAL ===== */
.social {
    grid-column: 11 / -1;
    grid-row: 1/-1;

    background-color: var(--bg2);
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    height: 100%;
}

/* --- 5.1 personal profile --- */
.social-me {
    grid-row: span 2;

    display: grid;
}

/* --- 5.2 search bar --- */
.social-search {
    grid-row: span 1;
}

/* --- 5.3 friends list --- */
.social-friend {
    grid-row: span 7;

    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* --- 5.4 individual friend --- */
.social-friend > div {
    width: 100%;
}
.social-friend > div .icon {
    margin: 10px;
    padding: 4px;
    border: 1px solid var(--ok);
    background-color: var(--oklt);
}




/* ===== 06 DEFAULT CONTENT ===== */
main {
    grid-column: 1 / 11;
    grid-row: 2 / -1;

    display: grid;
    grid-template: 60px auto / repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    height: 100%;
}
main > div {
    grid-column: 1 / -1;

    display: grid;
    gap: 50px 50px;

    padding: 0 50px 50px 50px;
    overflow-y: scroll;
    overflow-x: hidden;
}




/* ===== 07 HOME ===== */

/* --- 7.1 overview section --- */
.overview, .store{
    grid-template: repeat(auto-fit, minmax(40%, 1fr)) / repeat(4, 1fr);
    grid-auto-rows: 40%;
}
.overview > article {
    grid-column: span 3;
    grid-row: span 2;
}

/* --- 7.2 patch notes section --- */
.patchnotes {
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    grid-auto-rows: unset;
}
.patchnotes > article {
    grid-column: span 3;
    grid-row: span 2;
    justify-content: flex-start;
}.patchnotes > article:hover { border: 1px solid var(--content1); }
.patchlog-dtls {
    grid-column: span 3;
    grid-row: 3 / -1;

    overflow: scroll;
}
.patchlog-dtls > *{ padding: 15px 0px; }
.patchlog-hstry {
    grid-column: 4 / -1;
    grid-row: 1 / -1;

    overflow: scroll;
}
.patchlog-hstry .item {
    margin: 30px 0px;
    height: 300px;
    text-align: left;
}




/* ===== 08 PROFILE ===== */
.profile-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
}
.left-side, .right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}


.left-side {
    grid-column: span 1;
    padding: 0 5%;
}
.profile-search-container {
    display: none;
}
.user-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar-container {
    padding: 15px 0;
}
.avatar-container img {
    width: 200px;
    height: 200px;
    border: 5px solid #CFFFB8;
    border-radius: 150px;
}
.level {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.xp-bar {
    position: relative;
    width: 250px;
    height: 15px;
    background: #264D74;
    border: 3px solid #B4EDFF;
    box-sizing: border-box;
    margin: 5px 0;
}
.xp-progress-bar {
    position: absolute;
    width: 169px;
    height: 9px;
    background: #4E9CEA;
}
.status-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}
.current-rank {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.current-rank img {
    width: 200px;
    height: 200px;
}
.right-side {
    grid-column: span 2;
    padding: 0 5%;
}
.right-top, .right-middle {
    display: flex;
    flex-direction: row;
}
.right-top {
    width: 100%;
    justify-content: space-evenly;
}
.right-top div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.right-middle {
    width: 100%;
    justify-content: space-evenly;
    padding-top: 30px;
}
.achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.achievement-images {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15px;
}
.achievement-images img {
    width: 75px;
    height: 75px;
}
.right-bottom {
    width: 100%;
    padding-top: 30px;
}
.match-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin: 0 5%;*/
}
.match-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.match {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid var(--content1);
}




/* ===== 09 RANK ===== */

.header {
    width: 100%;
    padding: 20px;
    background: #234C72;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.leaderboard-title {
    padding: 0 40px;
    color: #B4EDFF;
}
.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}
.search-player {
    width: 405px;
    height: 36px;
    left: 610px;
    top: 190px;
    border-radius: 50px;
    outline-width: 0;
    border-color: transparent;
}

.categories  {
    display: flex;
    padding: 20px;
    border-bottom: 2px solid #B4EDFF;
}

.categories h3 {
    flex-basis: 25%;
    text-align: center;
    color: #B4EDFF;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.player-stats {
    display: flex;
    padding: 15px 20px;
    border-bottom: 2px solid rgba(180, 237, 255, 0.51);
}

.player-stats div {
    flex-basis: 25%;
    text-align: center;
}


.button-section{
    display: flex;
    justify-content: center;
}

.load-more-btn {
    margin-top: 100px;
    color: #B4EDFF !important;
    text-transform: uppercase;
    background: #234C72;
    padding: 20px;
    border: 4px solid #B4EDFF !important;
    border-radius: 150px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.load-more-btn:focus {
    outline:0;
}

.load-more-btn:hover {

    color: #FFFFFF !important;
    border-color: #FFFFFF !important;
    transition: all 0.3s ease 0s;
}




/* ===== 10 STORE ===== */
.store {
    /*border-top: 2px solid var(--content0);*/
    grid-template: repeat(auto-fit, minmax(400px, 1fr)) / repeat(5, 1fr);
    grid-auto-rows: 400px;
}
.variant2 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: max-content;
}

/* --- 10.1 header --- */
.slide-show {
    grid-column: 1 / -1;
    grid-row: span 1;
    position: relative;
}

/* ---/ 10.2a banner /--- */
.slide-image {
    position: relative;
    padding: 0 20%;
}
.slide-image img {
    position: relative;
    box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.75);
    width: 100%;
}
.slide-image img:hover {
    opacity: 0.9;
}

/* ---/ 10.2b banner controls /--- */
.slide-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding-left: 10px;
}
.slide-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding-right: 10px;
}
.slide-prev i, .slide-next i {
    cursor: pointer;
    color: #778cff;
    font-weight: bold;
    font-size: 3vw;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.slide-prev i:hover, .slide-next i:hover {
    color: #ffffff;
}
.slide-counter {
    display: flex;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dot {
    cursor: pointer;
    margin: 0 2px;
    font-size: 0.75vw;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.dot:hover {
    color: #ffffff;
}




/* ===== 11 LATTICE ===== */
/* ---/ 11.1a item container /--- */
article, .item {
    overflow: hidden;
    border: 1px solid var(--content1);

    position: relative;
    display: flex;
    justify-content: center;
}
article p { width: 80%; }
.item {
    grid-column: span 1;

    text-align: center;
    width: 100%;
    height: 100%;
}
article:hover, .item:hover {
    border: 1px solid var(--content0);
}
.item:last-of-type { margin-bottom: 50px; }

/* ---/ 11.1b item contents /--- */
.stack-top, .stack-bot > * {
    position: absolute;
    align-self: flex-end;
    z-index: 99;
}
.stack-top { padding: 20px; }
.stack-top > *:first-child { padding-bottom: 5px; }
.stack-bot > * {
    width: 100%;
    height: 100%;
    left: 0px;

    object-fit: cover;
    z-index: -99;
}

/* --- 11.2 toolbar --- */
.toolbar {
    top: 0px;
    right: 0px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.toolbar > a {
    padding: 5px 10px;
    opacity: var(--op3);
}




/* ===== 12 CREATE ROOM ===== */
.create-room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create-room h3 {
    text-transform: initial;
    margin-bottom: 50px;
}
.create-room form {
    border-top: 5px solid var(--content0);
    padding-top: 10px;
    width: 450px;
}
.create-room input, .create-room button {
    padding: 8px 15px;
    background-image: var(--content0);
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.create-room input[type="text"],
.create-room input[type="password"] {
    border-radius: 25px;
}
.create-room input[type="submit"] {
    width: fit-content;
    font-weight: 800;
    cursor: pointer;
    background-image: var(--bg1);
}
.create-room button {
    cursor: pointer;
    margin-left: 20px;
}

.create-room div {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.create-room label:first-of-type, .create-room label:first-of-type input[type="text"] {
    width: 100%;
}




/* ===== 13 ROOM LIST ===== */
.room-list header, .room-list header form, .room-list header>div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.room-list header {
    grid-column: 1 / -1;
    padding: 0 50px;
}
.room-list > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.room-list .btn02 { margin: 0 0 0 10px; }

/* ---/ 13.1 filter system /--- */
.room-list input[type="submit"] {
    color: var(--content0);
    text-transform: capitalize;
    width: fit-content;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    background-image: var(--bg1);

    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.room-list .social-search {
    width: 45%;
}
.room-list .social-search input {
    padding: 4px 0 4px 85px;
    height: 41px;
    font-size: 18px;
}
.room-list .social-search form {
    margin: 0;
}
.room-list .social-search button:last-of-type {
    font-size: 18px;
    padding: 0 20px;
    cursor: pointer;
}

/* ---/ 13.2 room node /--- */
.room-node,
.room-node div {
    width: fit-content;
    height: fit-content;
    background-color: var(--ok);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.room-node {
    width: 30%;
}
.room-node div {
    flex-direction: column;
    background-color: var(--ok);
}
.room-node div >* , .room-node form input {
    padding: 15px 20px;
}
.room-node .room-text {
    width: 100%;
    align-items: flex-start;
}
.room-node .room-text > a {
    width: 100%;
    color: var(--bg0);
    background-color: var(--oklt);
}
.room-node .room-status {
    width: fit-content;
}
.room-node>div>:last-child {
    padding: 35px 20px;
    font-size: 32px;
}
.room-node form {
    padding: 0;
}
#room-password-popup {
    width:240px;
    height:120px;
    padding:20px;
    background-color: #285075;
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
}


/* ===== 99 CATEGORY ===== */
