html, body {
    width: 100%;
}

body {
    padding-top: 3rem;
    background: #6790ab !important;
}

/* Basic Styling */
h1 {
    font: normal normal 18px sans-serif;
    margin: 0 0 5px 0;
    text-align: center;
}

h2 {
    font: normal normal 16px Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0 0 5px 0;
}

h3 {
    font: normal normal 13px Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #008000;
    margin: 0 0 15px 0;
}

/* Scrolling Game List */
.table-fixed tbody {
    height: 440px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

.table-fixed thead {
    overflow-y: scroll;
    overflow-x: hidden;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;
}

.lock {
    height: 20px;
    position: relative;
    top: -2px;
}

.center {
    text-align: center;
}

/* CUSTOM SCROLL BAR */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #004675;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #008deb;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #004675;
}

.party {
    color: green;
}

.co-op {
    color: darkorange;
}

.teams {
    color: darkred;
}

.search {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
    margin-top: 20px;
    margin-bottom: 5px;
}

.game-list input {
    background-color: cornflowerblue;
    border-radius: 12px;
    border: cornflowerblue;
    padding: 3px 10px;
}

.game-list input:hover {
    background-color: dodgerblue;
    border: dodgerblue;
}

/* FRIEND LIST */
.friends-list {
    background-color: white;
    width: 18%;
    height: 45%;
    position: fixed;
    right: 0;
    bottom: 0;
    border-left: black 1px solid;
}

.friend-header {
    background-color: black;
    color: white;
    font-size: 30px;
    height: 3rem;
    text-align: center;
    vertical-align: center;
}

.add-friend {
    margin-top: 2px;
}

.friends {
    font-size: 18px;
    overflow-y: scroll;
    height: 62%;
    border-bottom: black 1px solid;
}

.friends ul {
    height: 100%;
    left: 0;
}

.friends li {
    list-style-type: none;
}

.friends img {
    width: 40px;
}


/* NAVIGATION BAR */
.nav a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: #333333;
    text-decoration: none;
}

.nav ul{
    list-style-type: none;
    text-align: center;
    margin:0 auto;
}

.nav li {
    display: inline;
}

.nav .current {
    color: white;
}
