html body {
    margin: 0;
    padding: 0;
    background-color: #65acee;
}

.fas {
    margin-left: 5px;
}

.sidebar {
    position: fixed;
    background-color: #285075;
    width: 20%;
    height: 100%;
    right: 0;
    margin: 0;
    padding: 0;
}

.side-top-bar {
    position: fixed;
    right: 1%;
    height: 1%;
}

.side-top-bar a {
    color: white;
    text-decoration: none;
}

.side-header {
    padding-left: 30%;
    margin-top: 2rem;
    height: 7%;
}

.side-header h1{
    color: white;
    font-size: 20px;
    margin: 0;
}

.side-header h2{
    color: white;
    margin: 0;
}

.social {
    margin-top: 1rem;
    border-bottom: #adbcca solid 3px;
    padding-bottom: 1rem;
    padding-left: 20%;
    color: white;
    right: 1rem;
    height: 1%;

}

.social-buttons {
    display: inline-block;
    position: absolute;
    right: 1rem;
}

.social-buttons ul li{
    list-style-type: none;
    display: inline;
}

.add-friend {
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
}

/* Friends */

.friends {
    height: 75%;
    overflow-y: scroll;
    list-style-type: none;
    margin-bottom: 0;
    bottom: 61px;
}

.friends img {
    width: 15%;
}


/* Notification */

#nav {
    list-style:none;
    margin: 0;
    padding: 0;
}

#nav li {
    float: left;
    margin-right: 20px;
    font-size: 14px;
    font-weight:bold;
}

#nav li a {
    color: white;
    text-decoration:none;
}

#nav li a:hover {
    color:gray;
    text-decoration:none
}

#notification_li {
    position:relative
}

#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 30px;
    margin-left: -170px;
    width: 250px;
    z-index: 99 !important;
    display: none; // Enable this after jquery implementation
}

#notificationContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -20px;
    margin-left: 188px;
}

#notificationTitle {
    color: black;
    font-weight: bold;
    padding: 8px;
    font-size: 20px;
    background-color: #ffffff;
    position: fixed;
    z-index: 1000;
    width: 234px;
    border-bottom: 1px solid #dddddd;
}

#notificationsBody {
    padding: 33px 0 0 0 !important;
    height:300px;
    color: black;
}

#notificationsBody li ul{
    list-style-type: none;
    overflow-y: scroll;
}

#notificationsBody img {
    width: 10%;
}

.user-name {
    color: red;
}

.notifications li{
    margin-top: 20px;
    background-color: darkslategrey;
    left: 0;
    width: 100%;
}

.notifications ul {
    margin-left: 0;
    padding-left: 0;
    height: 350px;
    overflow-y: scroll;
}

#notification_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 77px;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    position: absolute;
    margin-top: -11px;
    font-size: 11px;
}

.options {
    width: 100%;
}

.option-button{
    display: inline-block;
}

/* Footer */
.friend-footer {
    margin: 0;
    padding: 0;
    background-color: blue;
    height: 61px;
    line-height: 61px;
    width: 20%;
    bottom: 0;
    position: fixed;
}

.fa-comment-alt {
    font-size: 50px;
}

.chat-button{
    color: black;
 }

.chat-button:hover{
    color: gray;
}

/* Chat Box */
#chatBox {
    position: absolute;
    right: 20%;
    bottom: 0;
    width: 30%;
    height: 30%;
    z-index: 1000;
    background-color: darkslateblue;
}

.chat-friends {
    height: 100%;
}

.chat-friends ul li {
    list-style-type: none;
    font-size: 30px;
}

.chat-friends ul {
    width: 30%;
    height: 100%;
    overflow-y: scroll;
    left: 0;
    margin: 0;
    padding: 0;
    border-right: black 1px solid;
}

.chat-friends li {
    border: 1px blue solid;
}

.chat-header {
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
    height: 15%;
    background-color: darkblue;
    padding: 0;
}

.chat-header p {
    font-size: 20px;
    color: white;
}

.chat-messages {
    width: 70%;
    position: absolute;
    top: 15%;
    right: 0;
    background-color: white;
    height: 70%;
}
.chat-messages ul {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
}

.chat-messages li {
    background-color: dodgerblue;
    margin-bottom: 4px;
}

.chat-messages ul li {
    list-style-type: none;
}

.chat-messages p {
    margin: 0;
}

.sent {
    text-align: right;
}

.chat-input {
    bottom: 0;
    right: 0;
    height: 15%;
    position: absolute;
    background-color: greenyellow;
    width: 70%;
}

#chatClose {
    top: 2%;
    right: 2%;
    position: absolute;
    z-index: 99999;
    color: gray;
}

#chatClose:hover {
    color: darkgray;
}
