<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="#">
        <meta name="keywords" content="#">

        <link rel="stylesheet" href="css/mainstyle.css" type="text/css">
        <link rel="stylesheet" href="css/social.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,500,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

        <title>Gameway | CREATE ROOM</title>
    </head>

    <body>
        <%- include('partials/nav'); %>
        <%- include('partials/social'); %>
    <main>
        <header></header>
        <div class="create-room">
            <h3>Creating room ...</h3>
            <form action="/_create_room" method="post">
                <!-- Naming room -->
                <div>
                    <label for="room-name"></label>
                    <input type="text" name="room-name" id="room-name" placeholder="Enter room title">
                </div>

                <!-- Setting room size -->
                <div>
                    <label for="player-capacity">Amount of Players</label>
                    <select name="player-capacity" id="player-capacity">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>

                <!-- Selecting game -->
                <div>
                    <label for="game-mode">Select Game Mode</label>
                    <select name="game-mode" id="game-mode">
                        <option value="Party">Party</option>
                        <option value="Co-op">Co-op</option>
                        <option value="game3">game three</option>
                        <option value="game4">game four</option>
                    </select>
                </div>

                <!-- Room lock -->
                <div>
                    <label for="private">
                        Private Room?
                        <input type="checkbox" name="private" id="private">
                    </label>

                    <label for="password"></label>
                    <input type="text" name="password" id="password" placeholder="Enter Room Password">
                </div>

                <div>
                    <!-- Confirm room creation -->
                    <input id="createRoom" type="submit" value="create room">
                    <!-- Confirm room exit -->
                    <button id="goBack" onclick="">go back</button>
                </div>
            </form>
        </div>
    </main>
    </body>

</html>