<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="#">
    <meta name="keywords" content="#">

    <link rel="stylesheet" href="css/mainstyle.css" type="text/css">
    <link rel="stylesheet" href="css/social.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <title>Gameway | STORE</title>
</head>
<body>
    <%- include('partials/nav'); %>
    <%- include('partials/social'); %>
    <main class="variant2">
        <!--BEGIN SLIDE SHOW-->
        <header class="slide-show">
            <div class="slide-image">
                <a href="#">
                    <img alt="image1" src="/img/sample-image1.png">
                </a>
                <a class="slide-prev"><i class="fas fa-angle-left"></i></a>
                <a class="slide-next"><i class="fas fa-angle-right"></i></a>
                <div class="slide-counter">
                    <span class="dot"><i class="fas fa-circle"></i></span>
                    <span class="dot"><i class="fas fa-circle"></i></span>
                    <span class="dot"><i class="fas fa-circle"></i></span>
                </div>
            </div>
            <!--START STORE NAVIGATION-->
            <header class="submenu">
                <a><h3>Featured</h3></a>
                <a><h3>Characters</h3></a>
                <a><h3>Icons</h3></a>
                <a><h3>Crates</h3></a>
                <a><h3>Purchase <i class="fas fa-money-bill"></i></h3></a>
            </header>
            <!--END STORE NAVIGATION-->
        </header>
        <!--END SLIDE SHOW-->

        <!--BEGIN FEATURED PAGE-->
        <div id="featured-page" class="store">
            <div class="item">
                <div class="stack-top">
                    <h4>ASHE</h4>
                    <div class="btn00">
                        5000 WC
                    </div>
                </div>
                <div class="stack-bot">
                    <img src="/img/avatars/avatar1.png" alt="#">
                </div>
            </div>
            <div class="item">
                <div class="stack-top">
                    <h4>ASHE</h4>
                    <div class="btn00">
                        5000 WC
                    </div>
                </div>
                <div class="stack-bot">
                    <img src="/img/avatars/avatar2.png" alt="#">
                </div>
            </div>
            <div class="item">
                <div class="stack-top">
                    <h4>ASHE</h4>
                    <div class="btn00">
                        5000 WC
                    </div>
                </div>
                <div class="stack-bot">
                    <img src="/img/avatars/avatar3.png" alt="#">
                </div>
            </div>
            <div class="item">
                <div class="stack-top">
                    <h4>ASHE</h4>
                    <div class="btn00">
                        5000 WC
                    </div>
                </div>
                <div class="stack-bot">
                    <img src="/img/avatars/avatar4.png" alt="#">
                </div>
            </div>
            <div class="item">
                <div class="stack-top">
                    <h4>ASHE</h4>
                    <div class="btn00">
                        5000 WC
                    </div>
                </div>
                <div class="stack-bot">
                    <img src="/img/avatars/avatar5.png" alt="#">
                </div>
            </div>
            <div class="item">
                <div class="stack-top">
                    <h4>ASHE</h4>
                    <div class="btn00">
                        5000 WC
                    </div>
                </div>
                <div class="stack-bot">
                    <img src="/img/avatars/avatar6.png" alt="#">
                </div>
            </div>
            <div class="item">
                <div class="stack-top">
                    <h4>ASHE</h4>
                    <div class="btn00">
                        5000 WC
                    </div>
                </div>
                <div class="stack-bot">
                    <img src="/img/avatars//avatar7.png" alt="#">
                </div>
            </div>
            <div class="item">
                <div class="stack-top">
                    <h4>ASHE</h4>
                    <div class="btn00">
                        5000 WC
                    </div>
                </div>
                <div class="stack-bot">
                    <img src="/img/avatars/avatar8.png" alt="#">
                </div>
            </div>
            <div class="item">
                <div class="stack-top">
                    <h4>ASHE</h4>
                    <div class="btn00">
                        5000 WC
                    </div>
                </div>
                <div class="stack-bot">
                    <img src="/img/avatars/avatar1.png" alt="#">
                </div>
            </div>
            <div class="item">
                <div class="stack-top">
                    <h4>ASHE</h4>
                    <div class="btn00">
                        5000 WC
                    </div>
                </div>
                <div class="stack-bot">
                    <img src="/img/avatars/avatar1.png" alt="#">
                </div>
            </div>
            <div class="item">
                <div class="stack-top">
                    <h4>ASHE</h4>
                    <div class="btn00">
                        5000 WC
                    </div>
                </div>
                <div class="stack-bot">
                    <img src="/img/avatars/avatar1.png" alt="#">
                </div>
            </div>
            <div class="item">
                <div class="stack-top">
                    <h4>ASHE</h4>
                    <div class="btn00">
                        5000 WC
                    </div>
                </div>
                <div class="stack-bot">
                    <img src="/img/avatars/avatar1.png" alt="#">
                </div>
            </div>
            <div class="item">
                <div class="stack-top">
                    <h4>ASHE</h4>
                    <div class="btn00">
                        5000 WC
                    </div>
                </div>
                <div class="stack-bot">
                    <img src="/img/avatars/avatar1.png" alt="#">
                </div>
            </div>
            <div class="item">
                <div class="stack-top">
                    <h4>ASHE</h4>
                    <div class="btn00">
                        5000 WC
                    </div>
                </div>
                <div class="stack-bot">
                    <img src="/img/avatars/avatar1.png" alt="#">
                </div>
            </div>
        </div>
        <!--END FEATURED PAGE-->
    </main>

    <!--BEGIN FOOTER-->
    <div class="footer-container"></div>
    <!--END FOOTER-->
    <!--BEGIN SCRIPTS-->
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/e584d861f4.js"></script>
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/store-pages.js" type="text/javascript"></script>
    <!--END SCRIPTS-->
</body>
</html>